{% extends "components/shell.html" %}

{% from 'components/image_link.html' import image_link %}
{% from 'components/card_list.html' import card_list %}
{% from 'components/cards/user.html' import user_card, user_card_header, user_card_skeleton %}

{% block content %}
  <section
    class="site-section site-section--artists page" id="page"
  >
    {% if results|length %}
      <div class="paginator" id="paginator-top">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
    {% call card_list('table') %}
      {{ user_card_header(is_count=true) }}
      {% for user in results %}
        {{ user_card(user, is_count=true) }}
      {% else %}
        <p class="subtitle card-list__item--no-results">
          No artists found for your query.
        </p>
      {% endfor %}
    {% endcall %}
    {% if results|length %}
      <div class="paginator" id="paginator-bottom">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
  </section>
{% endblock content %}

{% block components %}
  {{ image_link("") }}
  {{ user_card_skeleton() }}
{% endblock components %}
