{% extends 'development/shell.html' %}

{% import 'components/site.html' as site %}
{% from 'development/components/nav.html' import dev_nav %}

{% set nav_items = [
  ('/development/config', 'Config')
] %}

{% block content %}
{% call site.section('dev-only', 'Kemono dev') %}
  {{ dev_nav(nav_items) }}
  <form
    id="dev-activator"
    class="form"
    action="/development/config"
    method="POST"
  >
    <div class="form__section">
      <p>Press "Activate" to:</p>
      <ul>
        <li>Add test accounts</li>
      </ul>
    </div>
    <div class="form__section">
      <button class="form__button form__button--submit" type="submit">
        Activate
      </button>
    </div>
  </form>
{% endcall %}
{% endblock content %}
