{% extends 'dev_only/shell.html' %}

{% block content %}
  <section class="site__section site__section--development-test-entries">
    <header class="site__header">
      <h1 class="site__heading">Test Database</h1>
    </header>
    <form
      id="test-entries"
      class="form"
      action="/development/test-entries"
      method="POST"
    >
      <div class="form__section">
        <p>Press "Activate" to:</p>
        <ul>
          <li>Add test posts</li>
        </ul>
      </div>
      <div class="form__section">
        <button class="form__button form__button--submit" type="submit">
          Activate
        </button>
      </div>
    </form>
  </section>
{% endblock content %}
