{% extends "components/shell.html" %}

{% import 'components/site.html' as site %}
{% from 'components/forms/base.html' import form, fieldset %}
{% from 'components/forms/inputs.html' import input_text, input_select %}
{% from 'components/forms/buttons.html' import form_button %}
{% from 'components/image_link.html' import image_link %}
{% from 'components/card_list.html' import card_list %}
{% from 'components/cards/user.html' import user_card_skeleton %}
{% from 'components/paginator_new.html' import paginator_client_skeleton, selected_page %}
{% from 'components/buttons.html' import button %}

{% block content %}
  {# djlint: off #}
{% call site.section("search-artists", title="Search Artists") %}
  {% call form(submit_text="Seach", id="artist-search") %}
    {% set options = [
      dict(
        value="",
        selected="true",
        title="All"
      )
    ] + g.paysite_options %}

    {% call fieldset(class="form__fieldset--optional") %}
      {{ form_button(
        title="More options",
        class="form__more"
      ) }}

      {{ input_text(
      id="search-artist-name",
      name="name",
      title="Name or ID:"
      ) }}

      {{ input_select(
        id="search-artists-service",
        name="service",
        title="Paywall:",
        options=options
      ) }}

      {{ form_button(
        title="Less options",
        class="form__less"
      ) }}
    {% endcall %}
  {% endcall %}

  {% call card_list('table') %}
  {% endcall %}
{% endcall %}

  {# djlint: on #}
{% endblock content %}

{% block components %}
  {{ selected_page() }}
  {{ button() }}
  {{ paginator_client_skeleton() }}
  {{ image_link("") }}
  {{ user_card_skeleton() }}
{% endblock components %}
