{% extends "components/shell.html" %}

{% import 'components/site.html' as site %}
{% from 'components/image_link.html' import image_link %}
{% from 'components/card_list.html' import card_list %}
{% from 'components/cards/user.html' import user_card_skeleton %}
{% from 'components/paginator_new.html' import paginator_client_skeleton, selected_page %}
{% from 'components/buttons.html' import button %}

{% block content %}
  {# djlint: off #}
{% call site.section("search-artists", title="Search Artists") %}
  {% call card_list('table') %}
  {% endcall %}
{% endcall %}

  {# djlint: on #}
{% endblock content %}

{% block components %}
  {{ selected_page() }}
  {{ button() }}
  {{ paginator_client_skeleton() }}
  {{ image_link("") }}
  {{ user_card_skeleton() }}
{% endblock components %}
