@use "../../css/variables.scss" as *;

.fancy-link {
  &--download {}
  &--kemono {}
  &--local {}

  &--button {
    --local-border-width: #{$size-nano};

    display: inline-block;
    min-height: $button-min-height;
    min-width: $button-min-width;
    background-color: var(--local-colour2-secondary);
    border-radius: 5px;
    border: var(--local-border-width) solid var(--local-colour1-primary);
    padding: $size-small;

    & .fancy-link__text {
      background-color: transparent;
      border-bottom: var(--local-border-width) solid transparent;

      transition-property: color, border-color, background-color;
      transition-duration: var(--duration-global);
    }

    &:link {
      color: var(--local-colour1-primary);
    }
    
    &:visited {
      color: var(--local-colour1-primary);
    }
    
    &:focus {
      background-color: var(--local-colour2-primary);
    }
    
    &:hover {
      background-color: var(--local-colour2-primary);
      border-color: var(--local-colour1-primary);

      & .fancy-link__text {
        border-color: var(--local-colour1-primary);
      }
    }
    
    &:active {
      background-color: var(--local-colour1-primary);
      color: var(--local-colour2-primary);
      border-color: var(--local-colour2-primary);

      & .fancy-link__text {
        border-color: var(--local-colour2-primary);
      }
    }
  }

  &__text {
    position: relative;
    // center the text in the button
    // by moving it a border width lower
    top: var(--local-border-width);
  }
}
